.container {
    background-image: url("images/bg-desktop.svg");
    background-color: hsl(257, 40%, 49%);
    background-size: contain;
    background-repeat: no-repeat;
    color: white;
    padding: 2.5rem;
    /* background-color: aliceblue; */
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    /* font-family: 'Raleway', sans-serif; */
    font-size: 2rem;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.btn {
    color: hsl(257, 40%, 49%);
    background-color: white;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
}

.btn:hover {
    border-color: hsl(300, 69%, 71%);
    background-color: hsl(300, 69%, 71%);
    color: white;
}


#icon {
    height: 2rem;
    width: 2rem;
}

#icon:hover {
    height: 3rem;
    width: 3rem;
}

.icon {
    display: inline-block;
    margin-right: 1em;
    width: 1.3em;
    height: 1.3em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    transition: all, 0.25s;
}

.icon:hover {
    fill: hsl(300, 69%, 71%);
    stroke: hsl(300, 69%, 71%);
    transform: translateY(-0.25em)
}